@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Poppins";
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url("../font/Poppins/Poppins-Regular.ttf") format("truetype");
	}
	@font-face {
		font-family: "Poppins";
		font-style: normal;
		font-weight: 500;
		font-display: swap;
		src: url("../font/Poppins/Poppins-Medium.ttf") format("truetype");
	}
	@font-face {
		font-family: "Poppins";
		font-style: normal;
		font-weight: 600;
		font-display: swap;
		src: url("../font/Poppins/Poppins-SemiBold.ttf") format("truetype");
	}
	@font-face {
		font-family: "Poppins";
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: url("../font/Poppins/Poppins-Bold.ttf") format("truetype");
	}
	html,
	body {
		font-family: "Poppins";
		overflow: hidden;
	}
	.title-bar,
	.drag {
		cursor: move;
		-webkit-app-region: drag;
	}
	.title-bar li {
		cursor: initial;
		-webkit-app-region: no-drag;
	}
	.recording-btn {
		background-image: linear-gradient(to bottom, #7A3FF6 0%, #451AA0 100%);
		display: flex;
		gap: 16px;
		width: 75%;
		justify-content: center;
		align-items: center;
		margin: 10px;
		padding: 15px 45px;
		text-align: center;
		text-transform: capitalize;
		transition: 0.5s;
		background-size: 200% auto;
		color: white;
		box-shadow: 0 0 20px #eee;
		border-radius: 999px;
	}
	.recording-btn:hover {
		background-position: right center;
		color: #fff;
		text-decoration: none;
	}
	#pen.disabled {
		@apply opacity-50 cursor-not-allowed;
	}
	#cam-video {
		-webkit-app-region: drag;
		border: 5px solid #ac8dee;
		border-radius: 24px;
		@apply opacity-0 transition-opacity duration-500;
	}
	#cam-video.ready {
		@apply opacity-100;
	}
	#cam-video.ready.screen-camera-mode {
		@apply rounded-full object-cover object-center h-screen w-full;
	}
	.control li {
		@apply cursor-pointer duration-300 hover:scale-110;
	}
	.select-box .select-options-list ul li {
		@apply text-start w-full py-2 px-3 text-slate-600 text-sm duration-500 rounded-lg hover:bg-primary-hover;
	}
	.popup {
		@apply absolute z-10 top-0 left-0 w-full h-full bg-[#3C3C41] bg-opacity-50;
	}
	.popup .popup-body {
		@apply p-5 absolute text-center rounded-lg left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 bg-white;
	}
}
